[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dev-harsh1998
[access "refs/for/refs/*"]
	read = group user/dev-harsh1998
	push = group user/dev-harsh1998
	label-Code-Review = -2..+2 group user/dev-harsh1998
	label-Verified = -1..+1 group user/dev-harsh1998
	rebase = group user/dev-harsh1998
	removeReviewer = group user/dev-harsh1998
	submit = group user/dev-harsh1998
[access "refs/heads/*"]
	read = group user/dev-harsh1998
	create = group user/dev-harsh1998
	push = +force group user/dev-harsh1998
	pushMerge = group user/dev-harsh1998
[access "refs/tags/*"]
	push = group user/dev-harsh1998
	push = +force group user/dev-harsh1998
